<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="Notifications">

<!--    <ul class="navbar__links">-->
<!--        <li><a href="/home" th:classappend="${active == 'home'} ? 'active'">Home</a> </li>-->
<!--        <li><a href="/quizzes" th:classappend="${active == 'quizzes'} ? 'active'">Quizzes</a> </li>-->
<!--        <li><a href="/leaderboard" th:classappend="${active == 'leaderboard'} ? 'active'">Leaderboard</a> </li>-->
<!--        <li><a href="/chat" th:classappend="${active == 'chat'} ? 'active'">Chat</a> </li>-->
<!--        <li id="adminLink" style="display:none;"><a th:href="@{/admin/dashboard}">Admin Panel</a> </li>-->
<!--    </ul>-->

    <div id="notification-dropdown" class="notification-dropdown">
        <div class="notification-dropdown-title">🔔 Notifications</div>
        <div class="notification-empty">loading...</div>
    </div>

</div>

</body>
</html>