<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h2>Login</h2>

    <div id="error-msg" style="color:red; display:none">
        Invalid email or password
    </div>

    <input type="text" id="username" placeholder="Username"><br>
    <input type="password" id="password" placeholder="Password"><br>
    <button onclick="login()">Login</button>

    <p>Don't have an account? <a href="/register">Register</a></p>
</div>

<script src="/js/login.js"></script>

</body>
</html>